.header {
	text-align: center;
	margin:0;
	padding:0;
	
}
.header a{
	padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
a{
	text-decoration: none;
}
.inner{
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
}
.title_img{
	padding: 1em;
	margin : 0 auto

}